.item-title {
  font-weight:600;
  color: #757575;
}

.room-description {
  color: #757575;
}

.dashboard-msg {
  color:  #512DA8;
  font-size: 1.2em;
  text-align: center;
  margin: 80px 100px; 
  line-height: 35px;  
}