@import 'variables';
@import 'normalize';
@import 'text-elements';
@import 'mixins';
@import 'user-dashboard';
@import 'login-page';
@import 'manager-dashboard';
@import 'mobile-tablet';

html {
  height: 100%;   
}

body {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  height: 100%; 
}
main {
  margin: 20px; 
}

// -------------------state-----------------------------

.hidden {
  display: none; 
}











