@import 'variables';
@import 'normalize';
@import 'text-elements';
@import 'mixins';

// *,
// *:after,
// *:before {
// box-sizing: border-box;
// margin: 0;
// padding: 0;
// }

html {
  height: 100%;   
}

body {
  font-family: $primary-text; 
}
main {
  margin: 20px; 
}

.title {
  color: #FFF;
  background-color: $purple;
  padding: 15px; 
}

.purple-accent {
  background-color: $dark-purple;
  height: 30px; 
}

.search {
  display: flex;
  padding: 30px;   
}

.search-welcome-msg {
  font-style: italic;
  font-weight: 400; 
  width: 50%; 
}

.search-container {
  display:flex; 
  align-items: center;
  justify-content: space-around; 
  width: 50%; 
}

.btn {
  background-color: $light-purple;
  border: none; 
  padding: 10px;
  border-radius: 5px; 
}

// ----------------History box-----------------------

.dashboard {
  display: flex;
}

.dashboard-history {
  box-shadow: $card;
  margin: 10px;
  padding: 20px; 
  width: 40%;   
}

.dashboard-rooms {
  @extend.dashboard-history; 
  width: 90%; 
}

.dashboard-summary {
  padding: 0px;
  @include setBorder(border-bottom);
}

.dashboard-stays {
  @extend.dashboard-summary; 
}

.dashboard-stays-title {
  display: flex;
  justify-content: space-between;
}

.dashboard-summary-item {
  @extend.dashboard-stays-title;
}

.dashboard-stays-item {
  padding: 5px 0px; 
  @include setBorder(border-top);
  @extend.dashboard-stays-title;
}

// ---------------Rooms Box--------------------

.dashboard-room-filters {
  display: flex; 
  justify-content: space-around;
  padding: 20px 0px; 
  @include setBorder(border-bottom); 
}

legend {
  color: $purple;
  font-weight: 600;
}

.dashboard-rooms-list {
  list-style-type: none;
  padding: 0px; 
  margin: 0px;  
}

.dashboard-room-item {
 display: flex; 
 @include setBorder(border-bottom);
 padding: 20px;
}

.dashboard-room {
  display: flex;
  align-items: flex-start; 
  flex: 1; 
  
}

.room-img { 
   padding: 20px 0px; 
   height: 160px; 
   max-width: 215px; 
}

.room-info {
  margin-left: 10px; 
}



// ------------------tablet view-----------------------
@media screen and (max-width: 980px) {
  main {
    margin: 0px; 
  }

  .search {
    flex-direction: column;
    align-items: center;  
  }

  .search-container {
    flex-direction: column; 
    justify-content: space-around; 
  }

  .search-welcome-msg {
    text-align: center; 
  }

  .search-btn {
    margin-top: 20px; 
  }

  .dashboard {
    flex-direction: column;
    align-items: center;   
  }

  .dashboard-history {
    max-height: 600px; 
    overflow: scroll; 
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-room-filters{
    flex-direction: column; 
  }

  .item-title {
    margin-top: 10px; 
  }

  .dashboard-room {
    flex-direction: column; 
  }

  .dashboard-room-item {
    flex-direction: column; 
    padding: 0px;
  }

  .room-img {
    padding-bottom: 5px; 
  }

  .room-info {
    margin: 0px 0px 5px 0px; 
  }

}

// -------------------state-----------------------------

.hidden {
  display: none; 
}











