@import 'variables';
@import 'normalize';
@import 'text-elements';
@import 'mixins';
@import 'user-dashboard';
@import 'login-page';
@import 'manager-dashboard';

html {
  height: 100%;   
}

body {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  height: 100%; 
}
main {
  margin: 20px; 
}

// ------------------tablet view-----------------------
@media screen and (max-width: 980px) {

  .login-box {
    width: 50%; 
  }

  main {
    margin: 0px; 
  }

  .search {
    flex-direction: column;
    align-items: center;  
  }

  .search-container {
    flex-direction: column; 
    justify-content: space-around; 
  }

  .search-welcome-msg {
    text-align: center; 
  }

  .search-btn {
    margin-top: 20px; 
  }

  .dashboard {
    flex-direction: column;
    align-items: center;   
  }

  .dashboard-history {
    max-height: 600px; 
    overflow: scroll; 
    width: 75%;
  }
  .dashboard-msg {
    margin: 30px 60px;
    line-height: 20px;  
  }
}

@media screen and (max-width: 700px) {

  .login-box {
    width: 75%; 
  }

  .login-btn {
    font-size: .8em; 
  }

  .search-welcome-msg {
    font-size: 1.5em; 
  }

  .dashboard-room-filters{
    flex-direction: column; 
  }

  .item-title {
    margin-top: 10px; 
  }

  .dashboard-room {
    flex-direction: column; 
  }

  .dashboard-room-item {
    flex-direction: column; 
    padding: 0px;
  }

  .room-img {
    padding-bottom: 5px; 
  }

  .room-info {
    margin: 0px 0px 5px 0px; 
  }

  .dashboard-msg {
    margin: 20px 20px; 
  }

  .book-container {
    width: 100%; 
  }

}

// -------------------state-----------------------------

.hidden {
  display: none; 
}











